.equation-row input {
  font-family: "Montserrat";
  width: 98%;
  text-align: right;
  background-color: black;
  border: none;
  height: 50px;
  color: grey;
  font-size: 24px;
  outline: none;
  border-radius: 5px;
}
