.button-wrapper {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background-color: #333333;
  font-size: 20px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

.operator {
  background-color: #fe9f06;
  color: white;
}

.equality-operator {
  height: 180px;
  background-color: #fe9f06;
}
