.display {
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
}

.input {
  //height: 150px;
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: white;
  flex: 1;
  border-radius: 5px;
}
