.result-row input {
  font-family: "Montserrat";
  width: 98%;
  text-align: right;
  background-color: black;
  border: none;
  height: 50px;
  color: white;
  font-size: 36px;
  font-weight: 900;
  outline: none;
  margin-bottom: 30px;
}
